body {
    font-family: 'Roboto', sans-serif;
}
.link:focus,
.link:hover {
    color: blue;
    text-decoration: none;
}
 .colorblue {
    color: blue;
 }
 .background {
    background-color: blue;
    color: aliceblue;
 }