body {
    font-family: 'Roboto', sans-serif;
}
.link:focus,
.link:hover {
    color: blue;
    text-decoration: none;
}
 .colorbluew {
    color: #2196F3;font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-align: left;
 }
 .colorblack {
  color: #000000; font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 31px;
letter-spacing: 0.03em;
text-align: left;
 }
 .colorwhite {
color: #FFFFFF;  font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 31px;
letter-spacing: 0.03em;
text-align: left;
 }
 .background {
    background-color:#2196F3;
    color:#FFFFFF;
 }
 button{
    cursor: pointer;
 }